<footer class="article-footer">
    {{ partial "article/components/tags" . }}

    {{ if and (.Site.Params.article.license.enabled) (not (eq .Params.license false)) }}
    <section class="article-copyright">
        {{ partial "helper/icon" "copyright" }}
        <span>{{ default .Site.Params.article.license.default .Params.license }}</span>
    </section>
    {{ end }}

    {{- if ne .Lastmod .Date -}}
    <section class="article-time">
        {{ partial "helper/icon" "clock" }}
        <span class="article-time--modified">
            {{ T "article.lastUpdatedOn" }} {{ index $.Site.Data.days (dateFormat "Monday" .Lastmod) }}, {{ .Lastmod.Day }} {{ index $.Site.Data.months (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }} 
        </span>
    </section>
    {{- end -}}
</footer>